body {
    font-size: 100%;
    font-family: $overall-font;
    font-weight: 200;

    margin: 0;
    padding: 0;

    @include breakpoint($mobile-medium) {
        font-size: 200%;
    }

    #{headings()} {
        font-weight: 300;
    }
}


*.no-style {
    color: inherit;
    text-decoration: inherit;
}
