$column-container-margin: (100% - $column-container-width) / 2;

@mixin column-layout( $column-identifier: '.column' ) {
    width: $column-container-width;
    margin-left: $column-container-margin;
    margin-right: $column-container-margin;

    // Specified float fixes some problems using columns for webkit and moz.
    float: right;

    // Specify the sizes of the columns.
    @include column-count(auto);
    @include column-gap($column-widget-gap);
    @include column-width($column-widget-width);
    @include break-inside(avoid);


    padding: 0;

    article.post,
    article.widget,
    *[class^=column],
    #{$column-identifier} {
        display: inline-block;
    //    background-color: $column-text-color;
        margin-bottom: $column-widget-gap;

        padding: $column-widget-paddding;

        overflow: hidden;
        position: relative;
    }

    * {
        display: block;
        //position: relative;
    }

    .entry-meta {
        width: 100%;

        * {
            display: inline-block;
        }
    }

}


.column-container {
    width: 100%;
    @include column-layout;
}
