/**
 * @file.
 * This file contians information about the colors for this websites. All
 * these colors are specified in two phases, the first is the colorscheme
 * and the second is the individual colors of indiviudal items, this also
 * applies to text though typically with the -text- modifier in the varaible
 * name.
 */
/*============= COLOR SCHEME =============*/
/*============= Navigation Bar =============*/
/* Relates to the allways visual side of the site */
/* Relates to the more burger menu icon. */
/**
 * @file.
 * Defines two variables which are used to determine fonts across the site.
 * Headings is used for anything that is not a large block of text. Casual
 * is used for anything else.
 */
/*============= Navigation bar =============*/
/* Allow for responseve design. */
/**
 * @file.
 * This file relates to the general elements of appearence that do not conform
 * to other parts of the site.
 */
/*============= Navigation =============*/
/**
 * @file.
 * This file concnerns the layout of various elements on the page. It should be
 * noted that not all of these variables should be changed, if the variables are
 * relative then include that definition in the definition of the variable.
 */
/*============= Navigation bar =============*/
/**
 * @file.
 * Relates to all the various timing that is essential to the flow of the
 * sites animations and other features.
 */
/**
 * @file.
 * Relates to various elements conncerning miscelanious styling for things
 */
/**
 * @file.
 * Relates to all the z-index's of the site, complete, can be used to change
 * z-index problems in scope
 */
/* No files to import found in mixins/* */
/* No files to import found in mixins/**\/* */
/* line 1, ../sass/base/_align.scss */
.vertical-center {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  height: 100%;
}

/* line 9, ../sass/base/_align.scss */
.horizontal-center {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  justify-content: center;
  width: 100%;
}

/* line 1, ../sass/base/_body.scss */
body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* line 1, ../sass/elements/_nav-bar.scss */
#nav-bar-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 80px;
  background-color: white;
  border-bottom: 1px solid rgba(189, 195, 199, 0.6);
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

/* line 19, ../sass/elements/_nav-bar.scss */
ul#nav-bar-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}

/* line 30, ../sass/elements/_nav-bar.scss */
#nav-bar-links li {
  margin: 0 10px;
}

/* No files to import found in pages/* */
/* No files to import found in pages/**\/* */
