#nav-bar-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    width: 100%;

    height: $nav-height;
    background-color: $nav-bgcolor;
    border-bottom: $nav-border;

    @include heading-font;
    a { text-decoration: none; }

    @include display-flex;
    @include flex-direction(row);
    @include justify-content(space-between);
}

#nav-bar-container .vertical-center { width: 100%; }

ul#nav-bar-links {
    list-style-type: none;

    width: 90vw;
    width: calc(100% - #{2 * $nav-bar-link-border-width});


    margin: 0;
    padding: 0;
    margin-left: $nav-bar-link-border-width;

    @include display-flex;
    @include flex-direction(row);
    @include justify-content(space-between);

}

#nav-bar-links li {
    margin: 0 $nav-bar-link-margin;
}


/* Navigation Mobile Button. */
#nav-toggle {
    width: $nav-toggle-size;
    height: $nav-toggle-size;

    position: relative;

    .line {
        width: 100%;
        height: $nav-toggle-line-height;

        background-color: $nav-toggle-line-color;

        position: absolute;
        left: 0;
    }

    @for $i from 1 through 3 {
        .line:nth-child(#{$i}) { top: 100% / 3 * ($i - 1) }
    }
}

/* Navigation Extended Display */
#expanded-navigation {
    position: fixed;

    @include transition(all $expanded-navigation-transition-duration);

    left: 100vw;
    width: $expanded-navigation-width;
    max-width: $expanded-navigation-max-width;
    background-color: $expanded-navigation-bgcolor;

    top: 0;

    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
}


body.show-expanded-nav #expanded-navigation  {
    @include transform( translateX(-$expanded-navigation-width) );
}



@media screen and (min-width: #{ 100vw / $expanded-navigation-width * $expanded-navigation-max-width }) {
    body.show-expanded-nav #expanded-navigation {
        @include transform( translateX(-$expanded-navigation-max-width) );
    }
}


/* Page to not encompass nav bar space. */
#page {
    margin-top: $nav-height;
}
